body {
    width: 100%;
    height: 100vh;
    background-color: #FEDFE1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bmi-box {
    width: 1000px;
    height: 480px;
    border: 2px solid black;
}

.h1-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    h1 {
        margin: 0;
    }

}

.p-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.function-box {
    display: flex;
    justify-content: space-around
}

.results-box {
    display: flex;
    justify-content: center;
    align-items: center;


    .results {
        width: 200px;
        height: 25px;
        border: 2px solid black;
    }

    .comments {
        width: 200px;
        height: 25px;
        border: 2px solid black;
    }

    .gender-box {
        margin-right: 50px;
    }

}

th {
    border: 1px solid;
}

td {
    border: 1px solid;
}

table {
    width: 60%;
    margin: auto;
}